body{
	font-family: 'Noticia Text', serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0;
}

main{
	margin: 1rem;
	max-width: 60%;
	margin: auto;
}

h1,h2,h3{
	font-family: 'Volkhov', serif;
	text-align: center;
}

h1{
	font-size: 5rem;
	margin-bottom:0em;

}


h2 {
	font-size: 3rem;
	margin-top: 0em;
}

h3{
	font-size: 1em;
	margin: 3em;
	font-family: 'Poppins', sans-serif;
}


.row1{
	display:grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	background-color: #C0C0C0;
	border-radius: 20px;
}

.row2{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-top-right-radius:20px; 
	border-top-left-radius: 20px;
}

.row3 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;

}

.row4{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	
}

.row5{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-bottom-right-radius:20px; 
	border-bottom-left-radius: 20px;
}

.row6{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.row7{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-radius: 20px;

}

.row8 {
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-top-right-radius:20px; 
	border-top-left-radius: 20px;
}

.row9{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row10{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row11{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-bottom-right-radius:20px; 
	border-bottom-left-radius: 20px;
}

.row12{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-top-right-radius:20px; 
	border-top-left-radius: 20px;
}

.row13{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-bottom-right-radius:20px; 
	border-bottom-left-radius: 20px;
}

.row14{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-radius:20px; 
	
}

.row15{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-top-right-radius:20px; 
	border-top-left-radius: 20px;
}

.row16{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row17{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row18{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-bottom-right-radius:20px; 
	border-bottom-left-radius: 20px;
}

.row19{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-top-right-radius:20px; 
	border-top-left-radius: 20px;
}

.row20{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row21{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-bottom-right-radius:20px; 
	border-bottom-left-radius: 20px;
}

.row22{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-top-right-radius:20px; 
	border-top-left-radius: 20px;
}

.row23{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row24{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row25{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row26{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row27{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-bottom-right-radius:20px; 
	border-bottom-left-radius: 20px;
}

.row28{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-top-right-radius:20px; 
	border-top-left-radius: 20px;
}

.row29{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row30{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row31{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row32{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
}

.row33{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-bottom-right-radius:20px; 
	border-bottom-left-radius: 20px;
}

.row34{
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: lightblue;
	border-radius: 20px;
}

