body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  margin: auto;
}

img.logo { 
  height:150vh;
  width: 80vw;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
 }

 .box {
  width: 30vw;
  height:50vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: 'Anton', sans-serif;
  font-size: 15pt;
  color:darkred;
  border-radius: 20px;
 }

h1 {
 text-align: center;
}
 p {
  font-family: 'Noto Sans', sans-serif;
  color: white;
 }



 .grid {
  display: grid;
  grid-template-columns: 250px 300px 130px ;
  grid-template-rows: 100px;
  grid-gap: 20px;
  width: 720px;
  margin-right: auto;
  margin-left: auto;
}


article {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.end{ 
  background-color: darkred;
  height: 100px;
  width: auto;
  margin-top: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
 }

 .gf {
margin-top: 150px;
 }