* {margin: 0px; padding: 0px; box-sizing: border-box;}

body {
    font-family: arial, sans-serif;
}

.donuts{
    width: 25vw;
    height: 25vw;
    position: relative;

    border: 1px solid blue;
}

.donut {
    width: 80%;
    height: 80%;

    position: absolute;
    top: 10%;
    left: 10%;

    border-radius: 80%;
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,0) 80%);    

}

.donut_hole {
    width: 30%;
    height: 30%;
    margin: 35%;

    border-radius: 80%;
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(0,0,255,0) 80%);    
}