 body{
  background: black;
}

@keyframes walk{
  0%{
    left: -250px;
  }
  
  100%{
    margin-right: 100;
    left: 100%;
  }
}

@keyframes eat{
  50%{
    border-bottom: 0 solid transparent;
    border-top: 0 solid transparent;
    right: -15px;
    top: 90px;
  }
}

.background{
  position: relative;
}

.pacman{
  animation: walk 10s infinite;
  background: #fffc07;
  border-radius: 100%;
  height: 200px;
  position: absolute;
  width: 200px;
}

.pacman::before{
  background: black;
  border-radius: 100%;
  content: '';
  height: 30px;
  position: absolute;
  right: 60px;
  top: 30px;
  width: 30px;
}

.mouth{
  animation: eat 0.7s infinite;
  
  border-top: 90px solid transparent;
  border-bottom: 90px solid transparent;
  border-right:90px solid black;
  border-radius: 0 100% 100% 0;
  position: absolute;
  right: -5px;
  top: 20px;
}

